.pushable .pusher.inverted {
    background: #1b1c1d;
}

.ui.menu.inverted .icon.link .glyphicons {
    filter: invert(0.7);
}

.inverted.transition.glow {
    -webkit-animation-name: glow-inverted;
    animation-name: glow-inverted;
}

@keyframes glow-inverted {
    0% {
        background-color: #00b6f0;
    }
    30% {
        background-color: blend-normal(#00b6f0, #1b1c1d);
    }
    100% {
        background-color: #1b1c1d;
    }
}
