/**
 * Custom styles to patch some Semantic UI defaults.
 */

// Improve tables on small screens
@media only screen and (max-width:767px) {
    // Remove weird-looking padding
    .ui.table:not(.unstackable) tr {
        padding-top: 0em;
        padding-bottom: 0em;
    }

    // Make tables slightly less-dense
    .ui.table:not(.unstackable) tr > td, .ui.table:not(.unstackable) tr > th {
        padding: .4em .75em !important;
    }
}

// Scroll unstackable steps when larger than the page
.steps.unstackable {
    overflow-x: auto;
}

// Do not flow pagination buttons out of screen, make scrollable instead
.pagination {
    overflow-x: auto;
    max-width: 100%;
}

// Allow form to show inline
form.inline {
    display: inline-block;
}

// Only show breadcrumbs on big screens
@media not screen, (max-width: 1200px) {
    .ui.breadcrumb {
        display: none;
    }
}

// Always mark active breadcrumb black
.ui.breadcrumb a.active.section {
    color: rgba(0, 0, 0, 0.87) !important;
}

// Form fields with just an error outline
.ui.form .field.error-outline input {
    border-color: darken(#e0b4b4, 20%) !important;
}
