// Flag icon in sidebar button
.ui.sidebar a.item > .right {
  opacity: .5;
  transition: opacity .1s ease;

  float: right;
  margin-right: -0.15rem;
}

.ui.sidebar a.item:hover > .right {
    opacity: 1;
}
