// Variables
@import "variables";

// Utilities
@import "utils/fluid-type";

// Alerts
@import "alert";

// Toolbar
@import "toolbar";

// Sidebar
@import "sidebar";

// Glyphicons
@import "glyphicons";

// Sematic UI patches
@import "semantic_ui_patches";

// Dark/inverted colors
@import "dark";

// Spacers
span.spacer {
  margin: 0;
  padding: 0;
  display: block;
  height: 1em;
}

span.spacer.x05 {
  height: 0.5em;
}

span.spacer.x2 {
  height: 2em;
}

span.spacer.x3 {
  height: 3em;
}

span.spacer.x4 {
  height: 4em;
}

span.spacer.x5 {
  height: 5em;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  text-align: center;
}

.display-inline {
  display: inline;
}

// Code/literal highlighting
code.literal {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
}

// Highlight box
$highlight-dynamic-min-width: 100px;
$highlight-dynamic-max-width: 600px;

$page-divider-slot-color: #555555;
$page-divider-slot-shadow: #222222;
$page-divider-color: #D5D5D5;

.highlight-box {
  text-align: center;
  margin: 1.5em 0;
  padding: 0.5em 0.5em 0.3em;
}

.highlight-box i.attention-icon {
  //text-shadow: 0 1px #111;
  padding: 0.2em 0 0.25em;
  font-size: 72px;
  color: $page-divider-slot-color;
  text-shadow: 0 1px $page-divider-slot-shadow;
  @include fluid-type(font-size, $highlight-dynamic-min-width, $highlight-dynamic-max-width, 32px, 96px);
}

.highlight-box i.arrow-icon {
  padding: 0;
  font-size: 3em !important;
  color: $page-divider-slot-color;
  text-shadow: 0 1px $page-divider-slot-shadow;
  @include fluid-type(font-size, $highlight-dynamic-min-width, $highlight-dynamic-max-width, 32px, 96px);
}

.highlight-box img.logo {
  max-width: 100%;
  @include fluid-type(width, $highlight-dynamic-min-width, $highlight-dynamic-max-width, 75px, 200px);
  @include fluid-type(margin-top, $highlight-dynamic-min-width, $highlight-dynamic-max-width, 5px, 25px);
  @include fluid-type(margin-bottom, $highlight-dynamic-min-width, $highlight-dynamic-max-width, 5px, 25px);
}

// Page
.page {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

// Use no margin on modal dimmers
.ui.dimmer.modals.page {
    margin-top: 0;
    margin-bottom: 0;
}

// Page dividers
.page-divider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

.page-divider .slot,
.page-divider i.glyphicons,
.page-divider i.halflings {
  margin: 10px 15px;
  order: 0;
  flex-grow: 0;
  display: inline-block;
  color: $page-divider-slot-color;
  text-shadow: 0 1px $page-divider-slot-shadow;
}

.page-divider i.glyphicons.scale,
.page-divider i.halflings.scale {
    @include fluid-type(font-size, $highlight-dynamic-min-width, $highlight-dynamic-max-width, 16px, 48px);
}

@mixin page-divider-line {
  height: 1px;
  margin: 20px 0;
  background-color: $page-divider-color;
  display: inline-block;
  flex-grow: 1;
  content: '';
}

.page-divider span.line:nth-of-type(1) {
    order: -1;
    @include page-divider-line;
}

.page-divider span.line:nth-of-type(2) {
    order: 1;
    @include page-divider-line;
}

ul.ui-listview.center > li > a.ui-btn {
  text-align: center;
}

// flag-icons modifiers
.fi.fir {
  border-radius: 0.15em;
}

// Custom pirate flag
.fi-pirate {
  background-image: url(/img/flag/pirate_4x3.svg);
}

.fi-pirate.fis {
  background-image: url(/img/flag/pirate_1x1.svg);
}

// Flags on buttons
.ui.button .icon .fi {
    display: inline-block;
    height: 100%;
}

// Alt buttons inside sidebar menu items, used for logout button
.sidebar .alt-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;

  display: block;
  padding: 13px 5px 13px 5px;
  transition: background .1s ease, color .1s ease;
  border-left: 1px solid rgba(255,255,255,.08);

  .glyphicons {
    width: 30px;
    height: 14px;
    margin: 0;
  }

  &:hover {
    background: rgba(255,255,255,.08) !important;
  }

  &.logout {
    background: darkred !important;
    &:hover {
        background: rgba(darkred,.8) !important;
    }
  }
}

// Spaced headers in sidebar
.sidebar .item.header.spaced {
    padding-top: 2.5em;
    font-style: italic;
}

.sidebar .has-alt-button {
  padding-right: 50px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Bar header
.bar-header {
    display: flex;
    justify-content: space-between;
}

.bar-header .balance {
    margin-right: 0.5rem;
}

.label-top-up {
    margin-right: 0 !important;
}

// A subtle gray label
.subtle,
.menu.fluid .sub-label {
    color: gray;
}

// Other UI colors
.ui.text.positive {
    color: green;
}

.ui.text.negative {
    color: red;
}

.menu.fluid .sub-label {
    float: right;
    margin-left: 12px;
    display: block;
    font-size: smaller;
    line-height: normal;
}

// Nice plain links
a.subtle.link {
    color: rgba(0,0,0,.4);
    -webkit-transition: .1s color ease;
    transition: .1s color ease;
}

a.subtle.link:hover {
    color: rgba(0,0,0,.8);
}

// Inline field in checkbox list (for custom amount field on payment page)
.checkbox-list-inline-field {
    display: inline-block !important;
    margin-left: 0.25em !important;
    width: 7em !important;
}

.inventory-balance-quantity-field {
    display: inline-block !important;
    margin: 0;
    width: 5em !important;
}

// Pirate easter-egg in sidebar
.pirate {
    position: sticky;
    left: 110px;
    margin: 25px auto 90px auto;
    display: inline-block;
    animation: pirate 8s ease-in-out 1s both;
}

.pirate img {
    width: 120px;
    margin: 0 0 -65px 0;
    position: relative;
    animation: pirate-img 8s ease-in-out 1s both;
}

@keyframes pirate {
    0% {
        opacity: 0;
        left: 0;
        bottom: -45px;
    }
    25% {
        opacity: 1;
        bottom: 0;
    }
    85% {
        opacity: 1;
        bottom: 0;
    }
    99% {
        opacity: 0;
        left: 120px;
        bottom: -45px;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        left: 120px;
        bottom: -45px;
        transform: scale(0);
    }
}

@keyframes pirate-img {
    0% {
        bottom: -2px;
    }
    25% {
        bottom: 5px;
    }
    35% {
        bottom: -2px;
    }
    45% {
        bottom: 5px;
    }
    55% {
        bottom: -2px;
    }
    65% {
        bottom: 5px;
    }
    75% {
        bottom: -2px;
    }
    85% {
        bottom: 5px;
    }
    100% {
        bottom: -2px;
    }
}
