#################
## BARbapAPPa webapp
#################

/public/js
/public/img
/public/images
/public/css
/public/fonts
/public/flags
/public/sw.js
/public/workbox*.js

#################
## Laravel
#################

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
